* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}
body {
  font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
  background-color: #f4f4f4;
}
/* 第一二行 */
.frist_row {
  height: 35px;
  background: #f5f5f5;
}
.frist_row .wrapper {
  margin: 0px auto;
  width: 1190px;
  height: 35px;
  /* border: 1px solid black; */
}
.frist_two .wrapper {
  margin: 0px auto;
  width: 1190px;
  height: 70px;
  /* border: 1px solid black; */
}
.frist_row a {
  line-height: 35px;
  font-size: 12px;
}

.frist_two {
  height: 70px;
  background-color: #ff7fc3;
}

.frist_row .right {
  float: right;
}

/* ul */
.frist_row ul {
  list-style: none;
}
.frist_row li {
  margin-left: 10px;
  float: left;
}
/* ul */

/* a */
a {
  text-decoration: none;
  color: #424242;
}

a:hover {
  color: orange;
}
/* a */
/* 第一 二行 */

/* 输入框*/
.three .wrapper {
  margin: 0px auto;
  padding-top: 24px;
  height: 97px;
  width: 1190px;
  /* border: 1px solid red; */
}
.three {
  background-color: #fff;
  /* border: 1px solid black; */
}
.three .wrapper a {
  display: inline-block;
  text-decoration: none;
  width: 143px;
  height: 0px;
  padding-top: 59px;
  color: red;
  /* border: 1px solid black; */
  background-image: url(../img/log.png);
  background-size: 100% 100%;
  /* background-position:; 用来定位图片 */
  white-space: nowrap;
  overflow: hidden;
}
.three .wrapper .input {
  width: calc(100% - 632px);
  /* width: calc(100% - 500px); */
  margin-left: 250px;
  margin-top: -55px;
  position: relative;
  /* border: 1px solid #ccc; */
}
.three input {
  padding-left: 10px;
  outline: none; /*去除默认框*/
  width: 472px;
  height: 43px;
  border: 2px solid red;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 0px;
}
.three .input a {
  position: absolute;
  display: block;
  left: 20px;
  top: -7px;
  width: 17px;
  background-image: url(../img/search.svg);
}
.three .pop {
  position: absolute;
  width: 24px;
  height: 23px;
  top: 10px;
  right: 76px;
  background: url(../img/nicon-10750f3f7d.png);
}
.three .sumit {
  width: 74px;
  float: right;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 47px;
  height: 47px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
}
/* 输入框 */

/* 第五行 left */
.five .wrapper {
  margin: 0px auto;
  width: 1190px;
  height: 1000px;
  background-color: #fff;
}
.five .top {
  background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
  height: 30px;
  /* border: 1px solid black; */
}
.five .top h3 {
  float: left;
  width: 190px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background-color: #ff5000;
}
.five_left {
  width: 190px;
  height: 522px;
  border: 1px solid black;
}
.five .top li {
  margin-left: 0px 3px;
  padding: 0 7px;
  float: left;
}
.five a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700px;
  color: #fff;
}
.five .top ul {
  list-style: none;
}

/* 第五行 left */
