/* 
    @import 导入别的样式文件
    @       用编码
    @       ·····
    @       .....
*/
@import url(reset.css);

/* 矢量代码 */
@font-face {
  /* format让浏览器先认识这个字体格式，性能的优化 */
  font-family: "iconfont";
  src: url("../font/iconfont.eot"); /*只针对IE*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff2") format("woff2"),
    url("../font/iconfont.woff") format("woff"), /*网页的字体*/ url("../font/iconfont.ttf") format("truetype"),
    /*IE9以上*/ url("../font/iconfont.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased; /*非标准样式抗锯齿绚烂 */
  -moz-osx-font-smoothing: grayscale;
}
/* 矢量代码 */

/* 头部信息 */
#headMessage li {
  line-height: 35px;
  float: left;
  padding: 0 6px;
  font-size: 0; /*消除行级样式的空格距离*/
}
#headMessage a {
  font-size: 12px; /*消除行级样式的空格距离*/
  color: #6c6c6c;
}
#headMessage a:hover {
  color: #f40;
}
#headMessage a.login {
  color: #f23e00;
}
#headMessage span {
  font-size: 12px;
}
#headMessage span.arrow {
  margin-left: 7px;
}
#headMessage li strong {
  font-size: 12px;
  color: #f22e00;
}
#headMessage li.line {
  color: #ddd;
  font-size: 1px;
}
/* 头部信息 */

/* 头部广告 */
#headad {
  background: url(../images/TB1B9fjZpY7gK0jSZKzXXaikpXa-1920-100.png);
}

#headad .item5 {
  margin-right: 0;
}

#headad .go {
  width: 80px;
  height: 80px;
  padding: 10px 10px 10px 15px;
}

#headad li {
  float: left;
  width: 209px;
  height: 75px;
  margin-right: 10px;
  padding: 12px 15px 0 15px;
  box-sizing: border-box;
}

#headad li h3 {
  font-size: 20px;
  line-height: 28px;
}
#headad li a {
  color: #fff;
  box-sizing: border-box;
}
#headad li a img {
  width: 52px;
  height: 52px;
}
#headad li p {
  font-size: 14px;
  line-height: 20px;
}

#headad ul {
  margin-top: 13px;
}
#headad li.item1 {
  background: url(../images/ad.png) no-repeat;
}
#headad li.item2 {
  background: url(../images/ad.png) no-repeat;
}
#headad li.item3 {
  background: url(../images/ad.png) no-repeat;
}
#headad li.item4 {
  background: url(../images/ad.png) no-repeat;
}
#headad li.item5 {
  margin-right: 0px;
  background: url(../images/ad.png) no-repeat;
}

/* 头部广告 */

/* 搜索栏 */
/* left log */
/* .searh a {
  display: block;
  width: 300px;
  height: 0;
  padding-top: 120px;
  overflow: hidden;
  background-image: url(../images/TB1P3dsZUY1gK0jSZFCXXcwqXXa-290-130.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.searh {
  background-color: #fff;
  padding-top: 20px;
} */

/* center iput */
/* .searh li {
  float: left;
  margin-left: 15px;
}

.searh input {
  display: block;
  border: 4px solid #f40;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 0;
} */
/* center iput */

/* 搜索栏 */
