blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
  color: #3c3c3c;
  background-color: #f4f4f4;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

a {
  color: #3c3c3c;
  text-decoration: none;
}

.clearfloat::after {
  content: "";
  display: block;
  clear: both;
}

.fr {
  float: right;
}
.fl {
  float: left;
}
/*像素*/
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mr7 {
  margin-right: 7px;
}
.ml7 {
  margin-left: 7px;
}
.mr5 {
  margin-right: 5px;
}
/* 像素 */

.c4 {
  color: #ff4000;
}
.c5 {
  color: #ff5000;
}
.layer {
  width: 1190px;
  margin: 0 auto;
}

/* 自己的 */

select {
  outline: none; /*取消选中后的标识*/
  border: 0px;
}

.border {
  border: 1px solid black;
}
/* 自己的 */
