<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../vuejs/vue.js"></script>
  </head>
  <body>
    <!-- v-for=item in movies -->
    <ul id="app">
      <li v-for="item in movies">{{item}}</li>
    </ul>
  </body>
  <script>
    const movies = new Vue({
      el: "#app",
      data: {
        message: "电影",
        movies: ["大话西游", "新机创业"],
      },
    });
  </script>
</html>
